.products {
  padding: 20px 0;
  text-align: center;
  color: #383637;
  h2 {
    margin: 0 auto;
    width: 50%;
  }
}

.product-track {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  height: 300px;
  margin-bottom: 40px;
}
  .track-item {
    height: 100%;
    margin: 0 20px;
    .product-img-container {
      height: 50%;
      display: flex;
      align-items: flex-end;
      img {
        width: 120px;
        padding-bottom: 10px;
      }
    }
    .product-text-container {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .product-brand {
        color: grey;
        text-transform: uppercase;
        font-size: 12px;
      }
      .product-name {
        text-transform: capitalize;
        font-size: 14px;
      }
      strong { padding-bottom: 30px; }
    }
  }